
.socast{
    
      text-align:right;
       
    margin-top:;
    
}

.btn-outline-secondary{
    
    margin-right: 120px;
    width: 100px;
    
}

.btn-danger{
    
    margin-right: 120px;
    margin-top: 10px;
}
